---
layout: page
title:
permalink: /code/
---

<h1 id="templates">Templates</h1>
<ul>
	<li><a href='http://thesprouts.github.io/hli/code/card-template/index.html'>Final video card template</a></li>
	<li><a href='http://thesprouts.github.io/hli/code/index-template/index.html'>Final index template</a></li>
{% for script in site.code %}
	{% if script.category == 'templates' %}
		<li>
			<a href="{{ script.url | prepend: site.baseurl }}">{{ script.title }}</a>{% if script.subtitle %}: {{ script.subtitle}} {% endif %}
		</li>
	{% endif %}
{% endfor %}
</ul>
<hr>

<h1 id="templates">Sample Cards</h1>
<ul>
{% for script in site.code %}
	{% if script.category == 'cards' %}
		<li>
			<a href="{{ script.url | prepend: site.baseurl }}">{{ script.title }}</a>{% if script.subtitle %}: {{ script.subtitle}} {% endif %}
		</li>
	{% endif %}
{% endfor %}
</ul>
<hr>

<h1 id="templates">Sample Comics</h1>
<ul>
{% for script in site.code %}
	{% if script.category == 'comics' %}
		<li>
			<a href="{{ script.url | prepend: site.baseurl }}">{{ script.title }}</a>{% if script.subtitle %}: {{ script.subtitle}} {% endif %}
		</li>
	{% endif %}
{% endfor %}
</ul>
<hr>

<h1 id="intros">Introductions</h1>
<ul>
{% for script in site.code %}
	{% if script.category == 'intros' %}
		<li>
			<a href="{{ script.url | prepend: site.baseurl }}">{{ script.title }}</a>{% if script.subtitle %}: {{ script.subtitle}} {% endif %}
		</li>
	{% endif %}
{% endfor %}
</ul>
<hr>

<h1 id="walkthroughs">Walkthroughs</h1>
<ul>
	<li><a href='https://youtu.be/_Flhd6X3M3k'>How to add a panel</a></li>
	<li><a href='https://youtu.be/a16HUv4SnsU'>How to add a background image</a></li>
	<li><a href='https://youtu.be/kH32Mpv1Kds'>How to embed and trim a video</a></li>
	<li><a href='https://youtu.be/0uS8BnMekYg'>Adding audio to a panel on mouseover</a></li>
</ul>
<hr>

<h1 id="movies">#AddAWordRuinAMovie</h1>
{% for script in site.code %}
	{% if script.category == 'movies' %}
	<ul>
		<li>
			<a href="{{ script.url | prepend: site.baseurl }}">{{ script.title }}</a>{% if script.subtitle %}: {{ script.subtitle}} {% endif %}
		</li>
	</ul>
	{% endif %}
{% endfor %}