---
layout: default
---

<div class="home">
    <h1 class="page-heading"></h1>
    <ul class="animation-listing">
        {% for person in site.people %}
        <a href="http://{{ person.surge }}">
            <div style="background:url({{ person.img }}) center; background-size: cover;" class="animation">
                <span>{{ person.name }}</span>

            </div>
        </a>
        {% endfor %}
    </ul>
    <!--   <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
</div>
