<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">

      <div class="trigger">
        <style>
          .page-link:nth-child(2n) {
            color: #777;
          }
          #code {
            margin-right:4em;
            color:#000;
          }
        </style>
        <a id='code' href='{{site.baseurl}}/code'>Code Samples</a>
        <span class='page-link'>Sessions:</span>
        <a class='page-link' href='{{site.baseurl}}/sessions/1'>1</a>
        <a class='page-link' href='{{site.baseurl}}/sessions/2'>2</a>
        <a class='page-link' href='{{site.baseurl}}/sessions/3'>3</a>
        <a class='page-link' href='{{site.baseurl}}/sessions/4'>4</a>
        <a class='page-link' href='{{site.baseurl}}/sessions/5'>5</a>
        <a class='page-link' href='{{site.baseurl}}/sessions/6'>6</a>
        <a class='page-link' href='{{site.baseurl}}/sessions/7'>7</a>
        <a class='page-link' href='{{site.baseurl}}/sessions/8'>8</a>
      </div>
    </nav>

  </div>

</header>
